.accommodation-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.single-accommodation{
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
}